# Every PR auto-requests review from the repo owner.
# See: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @ogrodev
